<div class="index-page p-b-lg">
    <div class="banner-section banner-01">
        <div class="banner-overlay"></div>
        <div class="banner-content">
            <h1 class="text-l" style="padding-top: 70px;">同济大学力学实验云平台</h1>
            <h3 class="text-l" style="padding-top: 30px;">简单方便，服务师生</h3>
            <div class="text-l" style="padding-top: 30px;">
              <a ui-sref="portal.login"  ng-if="currentUser==null" class="btn btn-primary w-xs m-r">现在登录</a>
              <a ng-if="currentUser!=null" ui-sref="app.index" class="btn btn-primary w-xs m-r" >马上进入</a>
            </div>
        </div>
    </div>
</div>

