@import "../variables";
@import "../utilities";
@import "../reset";
@import "../mixins";

@import "index";

@info_color: #23b7e5;

@undo_color: #CCCCCC;

@done_color: #7ED321;

@doing_color: #F5A623;

.subview3_title{
  border: 0px solid;
  border-left-width: 3px;
  border-color: @info_color;
  padding-left: 5px;
}

.btn_step_undo{
  background-color: @undo_color;
}

.btn_step_done{
  background-color: @done_color;
}

.btn_step_doing{
  background-color: @doing_color;
}
