<div>
    <div class = "wrapper lter b-b" style = "overflow: hidden;">
        <span>短信息配置</span>
    </div>
    <div class="wrapper">
       <uib-tabset>
         <uib-tab heading="短信发送配置" class="nm-tab" ng-click="initSmsSchedulerList()">
         <div class="panel panel-default m-t">
          <div class="panel-heading">
            短信发送配置列表
            <button class="btn btn-success pull-right m-r w-sm" ng-click="createSmsConfig()" style="margin-top: -7px;">新增短信发送配置</button>
          </div>
          <div class="panel-body no-padder">
            <table class="table text-c b-b" ng-if="smsCtrl.smsSchedulerList.length > 0">
              <thead>
                <tr class="nm-head-tr">
                  <th class="text-c">实验提前通知天数</th>
                  <th class="text-c">实验通知时间</th>
                  <th class="text-c">是否生效</th>
                  <th class="text-c w">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="config in smsCtrl.smsSchedulerList">
                  <td>
                    {{config.notificationDay}}
                  </td>
                  <td>
                    {{config.notificationTime | date:'HH:mm'}}
                  </td>
                  <td>
                    <label class="i-switch text-l">
                      <input type="checkbox" ng-model="config.isActive" ng-change="switchIsActive(config)"><i></i>
                    </label>
                  </td>
                  <td class="inline">
                    <button class="btn btn-danger pull-right" ng-click="deleteSmsScheduler(config)">删除</button>
                    <button class="btn btn-primary pull-right m-r-xs" ng-click="editSmsScheduler(config)">修改</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <nevermore-empty-panel ng-if="smsCtrl.smsSchedulerList.length == 0" text="暂时没有任何短信发送配置"></nevermore-empty-panel>
            <div class="w-full">
              <button class="btn btn-success pull-right m-r-lg m-b w-sm" ng-click="createSmsConfig()">新增短信发送配置</button>
            </div>
          </div>
        </div>
         </uib-tab>
         <uib-tab heading="短信历史记录" class="nm-tab" ng-click="initSmsList()">
            <div class="panel panel-default m-t">
              <div class="panel-heading">
                <table class="clearfix" style="width: 100%;">
                  <td>
                    <uib-tabset class="nm-tab-btn-group">
                     <uib-tab ng-repeat="status in smsCtrl.smsStatusList" active="status.active" ng-click="filterConditionChange('status', status)">
                       <uib-tab-heading>
                         {{status.value}}
                       </uib-tab-heading>
                     </uib-tab>
                    </uib-tabset>
                  </td>
                  <td>
                    <div class="block m-l">
                      <span class="font-bold" style="bottom: 10px;position: relative;">发送日期：</span>
                      <div class="inline m-t-xs">
                        <nm-datepicker-range begin-date="smsCtrl.smsQuery.beginDate" end-date="smsCtrl.smsQuery.endDate" change-begin-date="filterConditionChange()" change-end-date="filterConditionChange()"></tiger-datepicker-range>
                      </div>
                    </div>
                  </td>
                </table>
              </div>
              <div class="panel-body no-padder">
                <table class="table text-c b-b" ng-if="smsCtrl.smsRecordList.length > 0">
                  <thead>
                    <tr class="nm-head-tr">
                      <th class="text-c w-sm">发送时间</th>
                      <th class="text-c w-xs">姓名</th>
                      <th class="text-c w-xs">手机号</th>
                      <th class="text-c w-xs">状态</th>
                      <th class="text-c">内容</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="smsRecord in smsCtrl.smsRecordList">
                      <td>
                        {{smsRecord.sendTime | date:'yyyy-MM-dd HH:mm:ss'}}
                      </td>
                      <td>
                        {{smsRecord.receiverName}}
                      </td>
                      <td>
                        {{smsRecord.receiverMobile}}
                      </td>
                      <td>
                        {{smsRecord.status.value}}
                      </td>
                      <td class="text-l" uib-tooltip="{{smsRecord.content}}"  tooltip-class="customClass">
                        {{smsRecord.content | messagePreview}}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <nevermore-empty-panel ng-if="smsCtrl.smsRecordList.length == 0" text="暂时没有任何短信记录"></nevermore-empty-panel>

                <div style="width: 100%;" class="clearfix" ng-if="smsCtrl.smsRecordList.length > 0">
                  <div class="pull-right">
                    <uib-pagination class="m-t-none m-b-none" max-size="5" previous-text="上一页" next-text="下一页"
                      total-items="smsCtrl.paginator.items" items-per-page="10" ng-model="smsCtrl.paginator.page" ng-change="smsListPageChanged()">
                    </uib-pagination>
                  </div>
                </div>
              </div>
            </div>
         </uib-tab>
       </uib-tabset>
    </div>
</div>
