<div>
    <searchactionbar placeholder = "'搜索：输入工号或姓名'" init-action = "'listing'"       on-transit = "onTransit(lastAction, nowAction, searchWord)">
        <button class="btn btn-info pull-right" ng-click="addAccount()">添加教师</button>
    </searchactionbar>
    <div class = "wrapper-md">
        <div class="panel panel-default">
            <table class = "table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width: 25%; min-width: 205px;">工号</th>
                        <th style="width: 25%; min-width: 205px;">名字</th>
                        <th style="width: 25%; min-width: 205px;">性别</th>
                        <th style="width: 25%; min-width: 205px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in accounts.data">
                        <td>
                            <span>{{account.number}}</span>
                        </td>
                        <td>
                            <span>{{account.name}}</span>
                        </td>
                        <td>
                            <span>{{account.gender | genderFilter}}</span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary" ng-click="modifyAccount(account)">
                                编辑
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="modifyPassword(account)">修改密码</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
          <div class="row clearfix" style="width: 100%;" >
            <div class="pull-left col-sm-4 m-t-sm">
              <span class="text-muted inline m-t-sm">{{accounts.curPageNum}}/{{accounts.totalPageNum}}&nbsp;&nbsp;&nbsp;共&nbsp;{{accounts.totalItemNum}}&nbsp;个教师</span>
            </div>
              <div class="pull-right">
            <uib-pagination max-size="7" previous-text="上一页" next-text="下一页" total-items="accounts.totalItemNum"
              ng-model="accounts.curPageNum" ng-change="pageChanged()"></uib-pagination>
            </div>
          </div>
      </footer>
    </div>
</div>

<lab-footer></lab-footer>
