<div class="portal-header">
    <div class="tiger-container">
        <a class="header-logo" ui-sref="portal.index">
            <img src="images/logos/portal/s-logo.png" alt="..."/>
        </a>
        <div class="header-nav m-l-lg">
          <ul>
            <li>
                <a ui-sref="portal.index" style = "display: inline-block;" data-ui-sref-opts="{reload: true}">
                    首页
                </a>
            </li>
            <li>
                <a style = "display: inline-block;" href = "http://lx-lab.tongji.edu.cn/web/subject2/second.html" target = "_blank">
                    虚拟实验
                </a>
            </li>
          </ul>
        </div>
        <div class="header-btn-group" >
            <a ui-sref="portal.login" data-ui-sref-opts="{reload: true}" class="btn btn-default w-xs m-r" ng-if="currentUser==null">登录</a>
        </div>
        <div class="header-nav m-l-lg pull-right" ng-if="currentUser!=null" ui-sref="app.index">
          <ul>
          <a ng-click="head_click()" class="clear">
            <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm" style="margin-top:1px">
              <img ng-src="{{currentUser.icon.url}}" alt="...">
            </span>
            <span class="hidden-sm hidden-md">{{currentUser.name}}</span> </b>
          </a>
        </ul>
        </div>
    </div>
</div>
