
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col w dk b-r sencond_nav_gray">
    <div class="panel no_border" draggable="true">
        <div class="panel-heading second_nav_head">
          我的课程
        </div>
        <div class="list-group" ng-if="currentUser.role=='STUDENT'">
          <li class="list-group-item" style="padding-left:30px;">
              <div class="clear">
                <div><a href="">材料力学</a></div>
                <small class="text-muted">姜建华</small>
              </div>
            </li>
        </div>
        <div class="list-group"  ng-if="true">
          <li class="list-group-item second_nav_body">
              <div class="clear">
                <div><a href="">材料力学A(嘉定)</a></div>
                <small class="text-muted">45017004</small>
              </div>
            </li>
            <li class="list-group-item second_nav_body">
                <div class="clear">
                  <div><a href="">材料力学A(嘉定)</a></div>
                  <small class="text-muted">45017004</small>
                </div>
              </li>
        </div>
      </div>
  </div>
  <div class="col">
    <div ui-view ></div>
  </div>
</div>
