
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col w  dk b-r bg-auto second_nav_gray">
    <div class="panel no_border" draggable="true">
        <div class="panel-heading second_nav_head">
          我的课程
        </div>
        <div class="list-group" ng-if="currentUser.show_role == 'STUDENT'">
          <li ng-repeat="course in courses" class="list-group-item second_nav_body" ui-sref="app.course.student-class({id:'{{course.classId}}'})">
              <div class="clear">
                <div><a class="text-info">{{course.coursename}}</a></div>
                <small class="text-muted">{{course.classnumber}}&nbsp;{{course.teacher}}</small>
              </div>
            </li>
        </div>
        <div class="list-group"  ng-if="currentUser.show_role == 'TEACHER'">
          <li ng-repeat="class in classes" class="list-group-item second_nav_body" ui-sref="app.course.teacher-class({id:'{{class.id}}'})">
              <div class="clear">
                <div><a class="text-info">{{class.course.name}}</a></div>
                <small class="text-muted">{{class.number}}</small>
              </div>
            </li>
        </div>
      </div>
  </div>
  <div class="col">
    <div ui-view ></div>
  </div>
</div>
