
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col w  dk b-r bg-auto second_nav_gray">
    <div class="panel no_border" draggable="true">
        <div class="panel-heading second_nav_head">
          我的预约
        </div>
        <div class="list-group" ng-if="currentUser.show_role == 'STUDENT'">
          <li ui-sref="app.index.student-reservations({title:'clazz'})" class="list-group-item second_nav_body">
            <a>老师预约的实验</a>
          </li>
          <li ui-sref="app.index.student-reservations({title:'student'})" class="list-group-item second_nav_body">
            <a>自行预约的实验</a>
          </li>
        </div>
        <div class="list-group" ng-if="currentUser.show_role == 'TEACHER'">
          <li ui-sref="app.index.teacher-reservations({title:'PENDING'})" class="list-group-item second_nav_body">
            <a>未审核预约</a>
          </li>
          <li ui-sref="app.index.teacher-reservations({title:'APPROVED'})" class="list-group-item second_nav_body">
            <a>已成功预约</a>
          </li>
          <li ui-sref="app.index.teacher-reservations({title:'REJECTED'})" class="list-group-item second_nav_body">
            <a>失效的预约</a>
          </li>
        </div>
      </div>
  </div>
  <div class="col">
    <div ui-view ></div>
  </div>
</div>
