<div class="nevermore-message-page">
  <div class="vbox">
    <div class="wrapper lter b-b bg-white">
      <div class="subview3_title">{{pageData.pageTitle}}</div>
    </div>
    <div class="wrapper bg-white">
      <div class="panel panel-default">
        <!-- <div class="panel-heading">
          <span class="h4">个人资料</span>
        </div> -->

        <div class="panel-body">
          <div class="m-b-sm nav">
            <button class="btn btn-default m-r-xs" ng-repeat="paramItem in pageData.paramItems"
              ng-class="paramItem == pageData.currentParam ? 'active' : ''" ng-click="getList(paramItem)">{{paramItem.show_title}}</button>
          </div>


          <table class="table text-l" style="width: 100%;">
            <thead>
              <tr>
                <th>
                  <label class="i-checks">
                    <input type="checkbox" ng-model="pageData.checkAll" ng-click="checkAll()">
                    <i></i>
                  </label>
                </th>
                <th class="state-column"></th>
                <th class="title-column">标题内容</th>
                <th>提交时间</th>
                <th>类型</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="message in pageData.list">
                <td class="w-2x m-t-none m-b-none">
                  <label class="i-checks">
                    <input type="checkbox" ng-model="message.isCheck" ng-click="addCheck(message.id)">
                    <i></i>
                  </label>
                </td>
                <td style="width:10px; height:10px; padding:0px;">
                  <span ng-if="message.isRead" class="readTip"></span>
                  <span ng-if="!message.isRead" class="unreadTip"></span>
                </td>
                <td>
                  <a href="javascript:void(0);" ng-click="viewMessageDetail(message)">{{message.title}}</a>
                </td>
                <td>
                  {{message.createTime | date}}
                </td>
                <td>
                  {{message.type}}
                </td>
              </tr>
            </tbody>
          </table>
          <nevermore-empty-panel ng-if="pageData.list.length == 0"></nevermore-empty-panel>

          <div style="width: 100%;" class="clearfix" >
            <table class="table" style="width: 100%;">
              <tbody>
                <tr>
                  <td width="10" style="width: 29px;">
                    <label class="i-checks m-t-xs">
                      <input type="checkbox" ng-model="pageData.checkAll" ng-click="checkAll()">
                      <i></i>
                    </label>
                  </td>
                  <td colspan="4">
                    <div class="btn-group dropdown">
                      <button class="btn btn-default m-r-sm" ng-click="deleteMessages()">删除</button>
                      <button class="btn btn-default" ng-click="markAsRead()">标记已读</button>
                    </div>
                    <div class="pull-right" ng-if="pageData.list.length > 0">
                      <uib-pagination class="m-t-none m-b-none" max-size="5" previous-text="上一页" next-text="下一页"
                        total-items="pageData.paginator.items" items-per-page="10" ng-model="pageData.paginator.page" ng-change="pageChanged()">
                      </uib-pagination>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
