
<div class="vbox">
    <div class="wrapper lter b-b bg-white">
      <a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ui-sref="app.student.class.task">返回实验</a>
      <div class="subview3_title">{{new_data.text}}</div>
    </div>
    <div class="wrapper bg-white">
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
        <a class="btn btn-sm btn-bg btn-rounded btn-icon" ng-class="{'btn_step_doing':report_step==1,'btn_step_done':report_step>1}"><i class="fa">1</i></a>
        <label class="text-muted" style="margin-left:5px;">基本信息</label>
        </div>

        <div class="col-sm-2">
        <a class="btn btn-sm btn-bg btn-rounded btn-icon" ng-class="{'btn_step_undo':report_step<2,'btn_step_doing':report_step==2,'btn_step_done':report_step>2}"><i class="fa">2</i></a>
        <label class="text-muted" style="margin-left:5px;">测量数据</label>
        </div>

        <div class="col-sm-2">
        <a class="btn btn-sm  btn-rounded btn-icon" ng-class="{'btn_step_undo':report_step<3,'btn_step_doing':report_step==3,'btn_step_done':report_step>3}"><i class="fa">3</i></a>
        <label class="text-muted" style="margin-left:5px;">实验图表</label>
        </div>

        <div class="col-sm-2">
        <a class="btn btn-sm btn-bg btn-rounded btn-icon" ng-class="{'btn_step_undo':report_step<4,'btn_step_doing':report_step==4,'btn_step_done':report_step>4}"><i class="fa">4</i></a>
        <label class="text-muted" style="margin-left:5px;">计算数据</label>
        </div>

        <div class="col-sm-2">
        <a class="btn btn-sm btn-bg btn-rounded btn-icon" ng-class="{'btn_step_undo':report_step<5,'btn_step_doing':report_step==5,'btn_step_done':report_step>5}"><i class="fa">5</i></a>
        <label class="text-muted" style="margin-left:5px;">相关问答</label>
        </div>

        <div class="col-sm-1"></div>
        <div class="line line-dashed line-lg pull-in"></div>
      </div>
      <div class="line line-dashed line-lg pull-in b-b"></div>
      <!-- <div ui-view></div> -->

      <!--基本信息-->
      <div class="form-group p-b-lg" ng-if="report_step==1">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          <p class="">基本信息</p>
          <div class="form-group pull-in clearfix" style="padding-left:20px">
            <div class="col-sm-4">
              <label class="text-muted">姓名</label>
              <input type="text" class="form-control ng-touched" ng-model="data.student.name">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
              <label class="text-muted">班级</label>
              <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-validator" ng-model="data.student.class">
            </div>
            <div class="col-sm-3"></div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="col-sm-4">
              <label class="text-muted">实验日期</label>
              <nm-datepicker class="w-md" ng-model="data['1date']"></nm-datepicker>
            </div>
          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
        <p class="">设备信息</p>
          <div class="form-group pull-in clearfix"  style="padding-left:20px">
            <div class="col-sm-4">
              <label class="text-muted">试验机名称</label>
              <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-invalid ng-invalid-required"  ng-model="data['2equipment'].equipment_name">
            </div>
            <div class="col-sm-6"></div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="col-sm-4">
              <label class="text-muted">量具名称</label>
              <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-validator" ng-model="data['2equipment'].measure_name">
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="col-sm-4">
              <label class="text-muted">最小分度值</label>
              <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-validator" ng-model="data['2equipment'].min_measure">
            </div>
            <div class="col-sm-1">
              <div class="line line-dashed line-lg pull-in"></div>
              <label class="text-muted">mm</label>
            </div>

          </div>
        </div>
          <!-- <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="maxlength = 5" ng-model="f.e" ng-maxlength="5" required="" aria-required="true" aria-invalid="true"> -->

        <div class="line line-dashed line-lg pull-in"></div>



        <footer class="panel-footer text-right bg-light lter">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
          <button type="submit" class="btn btn-info" ng-click="next()">下一步</button>
          </div>
          <div class="col-sm-1"></div>
        </footer>
      </div>

      <!--测量数据-->
      <div ng-if="report_step==2">
      <div ng-repeat="table in new_data.content[2].content">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <nmreporttable editable="true" ng-model="table"/>
        </div>
        <div class="col-sm-1"></div>
        <div class="line line-dashed line-lg pull-in"></div>
      </div>


      <footer class="panel-footer text-right bg-light lter">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="last()">上一步</button>
        <button type="submit" class="btn btn-info" ng-click="next()">下一步</button>
        </div>
        <div class="col-sm-1"></div>
      </footer>
      <div class="line line-dashed line-lg pull-in"></div>
      </div>

      <!--实验图表-->
      <div ng-if="report_step==3">
      <div ng-repeat="table in new_data.content[4].content">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <nmreporttable editable="true" ng-model="table"></nmreporttable>
        </div>
        <div class="col-sm-1"></div>
        <div class="line line-dashed line-lg pull-in"></div>
      </div>


      <footer class="panel-footer text-right bg-light lter">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="last()">上一步</button>
        <button type="submit" class="btn btn-info" ng-click="next()">下一步</button>
        </div>
        <div class="col-sm-1"></div>
      </footer>
      <div class="line line-dashed line-lg pull-in"></div>
      </div>

      <!--测量数据-->
      <div ng-if="report_step==4">
        <div ng-repeat="table in new_data.content[3].content">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
          <nmreporttable editable="true" ng-model="table"></nmreporttable>
          </div>
          <div class="col-sm-1"></div>
          <div class="line line-dashed line-lg pull-in"></div>
        </div>

      <footer class="panel-footer text-right bg-light lter">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="last()">上一步</button>
        <button type="submit" class="btn btn-info" ng-click="next()">下一步</button>
        </div>
        <div class="col-sm-1"></div>
      </footer>
      <div class="line line-dashed line-lg pull-in"></div>
      </div>

      <!--相关问答-->
      <div class="form-group" ng-if="report_step==5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <label class="">实验相关问答</label>
          <label class="pull-right">共{{new_data.content[6].content.length}}题，已完成{{completed_question}}题</label>
          <div class="line line-dashed line-lg pull-in"></div>
          <div class="form-group pull-in clearfix" style="padding-left:20px">
            <div ng-repeat = "question in new_data.content[6].content">
              <label class="text-muted">{{question.text}}</label>
              <div class="l_space" ng-if="question.type=='choice'">
                <div class="radio" ng-repeat="option in question.options">
                  <label>
                    <input type="radio" value="{{option.label}}" ng-model="question.answer" ng-change="question_change()">
                    {{option.label}}. {{option.content}}
                  </label>
                </div>
              </div>
              <textarea class="form-control ng-pristine ng-valid ng-touched" ng-change="question_change()" placeholder="" rows="5" ng-model="question.answer" aria-multiline="true" aria-invalid="false" ng-if="question.type=='text'"></textarea>
              <div class="line line-dashed line-lg pull-in"></div>
            </div>

          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
        <footer class="panel-footer text-right bg-light lter">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-default" ng-click="last()">上一步</button>
            <button type="submit" class="btn btn-warning" ng-click="save()" ng-disabled="status=='committed'">保存草稿</button>
            <button type="submit" class="btn btn-info" ng-click="submit()" ng-disabled="(status==null)||(status=='committed')" ng-show="status=='uncommitted'">提交报告</button>
          </div>
          <div class="col-sm-1"></div>
        </footer>
        <div class="line line-dashed line-lg pull-in"></div>
      </div>

</div>
