<div class="vbox">
    <div class="wrapper lter b-b bg-white">
      <div class="subview3_title">密码修改</div>
</div>

<div class="wrapper bg-white">
  <form name="passwordForm" class="form-horizontal form-validation ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-url ng-valid-pattern ng-valid-validator ng-valid-blacklist">
    <div class="panel panel-default">

      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">旧密码</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" placeholder="email" name="oldPassword" ng-model="password.passwordEdit.oldPassword" required ng-minlength="1">
            <div ng-show="passwordForm.oldPassword.$touched && passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid">
              <span class="text-danger" ng-show="passwordForm.oldPassword.$error.required">原密码不能为空</span>
            </div>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="newPassword" ng-model="password.passwordEdit.newPassword" required ng-minlength="6">
            <div ng-show="passwordForm.newPassword.$touched && passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid">
              <span class="text-danger" ng-show="passwordForm.newPassword.$error.required">密码不能为空</span>
              <span class="text-danger" ng-show="passwordForm.newPassword.$error.minlength">密码长度至少为6位，建议由字母，数字和符号两种及以上组合</span>
            </div>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-9">
            <input type="password" name="confirmPassword" class="form-control" ng-model="password.passwordEdit.confirmPassword" ui-validate="'$value==password.passwordEdit.newPassword'" ui-validate-watch="'password.passwordEdit.newPassword'" required>
            <div ng-show="passwordForm.confirmPassword.$touched && passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid">
              <span class="text-danger" ng-show="passwordForm.confirmPassword.$error.required">确认密码不能为空</span>
              <span class="text-danger" ng-show="passwordForm.confirmPassword.$error.validator">确认密码与新密码不同</span>
            </div>
          </div>
        </div>
      <footer class="panel-footer text-right bg-light lter">
        <button type="submit" class="btn btn-success" ng-disabled="passwordForm.$invalid" ng-click="updatePassword()">确认修改</button>
      </footer>
    </div>
  </form>
</div>
