<div class="nevermore-profile-page">
  <div class="vbox">
    <div class="wrapper lter b-b bg-app">
      <div class="subview3_title">密码修改</div>
    </div>

    <div class="wrapper bg-app">
      <div class="panel panel-default bg-app">
        <div class="panel-body">
          <form class="form-horizontal form-validation" name="passwordForm">
            <div class="form-group">
              <label for="oldPassword" class="col-sm-2 control-label">旧密码</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="oldPassword" ng-model="password.passwordEdit.oldPassword" required ng-minlength="1">
                <!-- <div ng-show="passwordForm.oldPassword.$touched && passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid">
                  <span class="text-danger" ng-show="passwordForm.oldPassword.$error.required">原密码不能为空</span>
                </div> -->
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword" class="col-sm-2 control-label">新密码</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="newPassword" ng-model="password.passwordEdit.newPassword" required ng-minlength="6">
                <!-- <div ng-show="passwordForm.newPassword.$touched && passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid">
                  <span class="text-danger" ng-show="passwordForm.newPassword.$error.required">密码不能为空</span>
                  <span class="text-danger" ng-show="passwordForm.newPassword.$error.minlength">密码长度至少为6位，建议由字母，数字和符号两种及以上组合</span>
                </div> -->
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="col-sm-2 control-label">确认新密码</label>
              <div class="col-sm-10">
                <input type="password" name="confirmPassword" class="form-control" ng-model="password.passwordEdit.confirmPassword" ui-validate="'$value==password.passwordEdit.newPassword'" ui-validate-watch="'password.passwordEdit.newPassword'" required>
                <!-- <div ng-show="passwordForm.confirmPassword.$touched && passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid">
                  <span class="text-danger" ng-show="passwordForm.confirmPassword.$error.required">确认密码不能为空</span>
                  <span class="text-danger" ng-show="passwordForm.confirmPassword.$error.validator">确认密码与新密码不同</span>
                </div> -->
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-block" ng-disabled="passwordForm.$invalid" ng-click="updatePassword()">确认修改</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
