<div class="form-group">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <p class="">基本信息</p>
    <div class="form-group pull-in clearfix" style="padding-left:20px">
      <div class="col-sm-4">
        <label class="text-muted">姓名</label>
        <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-invalid ng-invalid-required" name="password" ng-model="password" required="" aria-required="true" aria-invalid="true">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <label class="text-muted">班级</label>
        <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-validator" name="confirm_password" required="" ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " aria-required="true" aria-invalid="true">
      </div>
      <div class="col-sm-3"></div>
      <div class="line line-dashed line-lg pull-in"></div>
      <div class="col-sm-4">
        <label class="text-muted">实验日期</label>
        <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-validator" name="confirm_password" required="" ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " aria-required="true" aria-invalid="true">
      </div>
    </div>
  </div>
  <div class="line line-dashed line-lg pull-in"></div>
  <div class="form-group">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <p class="">设备信息</p>
      <div class="form-group pull-in clearfix"  style="padding-left:20px">
        <div class="col-sm-6">
          <label class="text-muted">试验机名称</label>
          <input type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-invalid ng-invalid-required" name="password" ng-model="password" required="" aria-required="true" aria-invalid="true">
        </div>
        <div class="col-sm-6"></div>
        <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-4">
          <label class="text-muted">量具名称</label>
          <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-validator" name="confirm_password" required="" ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " aria-required="true" aria-invalid="true">              </div>
        <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-4">
          <label class="text-muted">最小分度值</label>
          <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-validator" name="confirm_password" required="" ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " aria-required="true" aria-invalid="true">
        </div>
        <div class="col-sm-1">
          <div class="line line-dashed line-lg pull-in"></div>
          <label class="text-muted">mm</label>
        </div>

      </div>
    </div>
      <!-- <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="maxlength = 5" ng-model="f.e" ng-maxlength="5" required="" aria-required="true" aria-invalid="true"> -->
  </div>
  <div class="line line-dashed line-lg pull-in"></div>
  <footer class="panel-footer text-right bg-light lter">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
    <button type="submit" class="btn btn-info">下一步</button>
    </div>
    <div class="col-sm-1"></div>
  </footer>
</div>
