
    <div class="vbox">
    <div class="wrapper lter b-b bg-white">

      <div class="subview3_title">{{clazz.course.name}} {{clazz.number}} {{clazz.course.teacher}}</div>
  </div>
<div class="wrapper bg-white">
  <div class="font-thin h5" style="margin-bottom:10px">实验完成情况</div>

<div class="panel panel-default">
    <div class="panel-heading">
      实验列表
    </div>

    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th style="width: 120px;">实验名</th>
            <th style="width: 90px;">状态</th>
            <th style="width: 90px;">虚拟实验</th>
            <th style="width: 90px;">成绩</th>
            <th style="width: 100px;">评语</th>
            <th style="width: 20px;"></th>
            <th style="width: 20px;"></th>
            <th style="width: 20px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="eachExpResult in exps">
            <td style="width: 120px;" class="v-middle">{{eachExpResult.expName}}</td>
            <td style="width: 90px;" class="v-middle">{{eachExpResult.status|experimentStatus}}</td>
            <td style="width: 90px;" class="v-middle">
              <a class="code" target="_blank" href="{{eachExpResult.virtualExpLink}}" ng-show="eachExpResult.virtualExpLink!=undefined&&eachExpResult.virtualExpLink!=''">虚拟实验</a>
            </td>
            <td style="width: 90px;" class="v-middle">{{eachExpResult.experiment_record |isEmpty}}</td>
            <td style="width: 100px;" class="v-middle">{{eachExpResult.experiment_comment| isEmpty}}</td>
            <td style="width: 20px;" class="v-middle">
              <button class="btn btn-sm btn-default" ng-click="view_record(exp.experimentId)" ng-if="true">查看详情</button>
            </td>

            <td style="width: 20px;" class="v-middle">
              <button class="btn btn-sm btn-default" ng-click="view_record(exp.experimentId)" ng-if="true">上传作业</button>
            </td>

            <td style="width: 20px;" class="v-middle">
              <button class="btn btn-sm btn-default" ng-click="view_record(exp.experimentId)" ng-if="true">下载模板</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">

        </div>
        <div class="col-sm-4 text-center">

        </div>

      </div>
    </footer>
  </div>
</div>
</div>
