
    <div class="vbox">
    <div class="wrapper lter b-b bg-white">

      <a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="createNote()">预约实验</a>
      <div class="subview3_title">{{title|reservationTitle}}</div>
  </div>

<div class="wrapper bg-white">

  <div class="panel panel-default">
    <div class="panel-heading">
      预约列表
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th style="width: 90px;">预约号</th>
            <th style="width: 120px;">日期</th>
            <th style="width: 142px;">时间段</th>
            <th style="width: 120px;">实验室</th>
            <th style="width: 150px;">实验任务</th>
            <th style="width: 120px;">状态</th>
            <th style="width: 20px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="res in map.Reservations[title].data.data">
            <td class="v-middle" style="width: 90px;">{{res.id}}</td>
            <td class="v-middle" style="width: 120px;">{{res.applyDate}}</td>
            <td class="v-middle" style="width: 142px;">{{res.slot.title }}</td>
            <td class="v-middle" style="width: 120px;">{{res.lab.name}}</td>
            <td class="v-middle" style="width: 150px;">{{res.experiment.name}}</td>
            <td class="v-middle" style="width: 120px;">{{res.status | reservationStatus}}</td>
            <td class="v-middle" style="width: 20px;">
              <button class="btn btn-sm btn-default" ng-click="" ng-if="true">详情</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">

        </div>
        <div class="col-sm-4 text-center">
          <!-- <small class="text-muted inline m-t-sm m-b-sm">共{{map.Reservations[title].data.totalItemNum}}个预约</small> -->
        </div>
        <!-- <div class="col-sm-4 text-right text-center-xs">
          <nevermore-pager total="map.Reservations[title].data.totalPageNum" cur="map.Reservations[title].data.curPageNum" change="page_reservation(page)"></nevermore-pager>
        </div> -->
        <div class="row clearfix" style="width: 100%;" >
          <div class="pull-left col-sm-4 m-t-sm">
            <span class="text-muted inline m-t-sm">{{map.Reservations[title].data.curPageNum}}/{{map.Reservations[title].data.totalPageNum}}&nbsp;&nbsp;&nbsp;共&nbsp;{{map.Reservations[title].data.totalItemNum}}&nbsp;个预约  </span>
          </div>
            <div class="pull-right">
          <uib-pagination max-size="7" previous-text="上一页" next-text="下一页" total-items="map.Reservations[title].data.totalItemNum"
            ng-model="map.Reservations[title].data.curPageNum" ng-change="pageReservation()"></uib-pagination>
          </div>
        </div>
      </div>
    </footer>
  </div>


</div>
</div>
