<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">功能</span>
  </li>

  <!-- student items-->
  <li ui-sref-active="active" ng-if="currentUser.show_role == 'STUDENT'">
     <a ui-sref="app.index.student-reservations({title:'clazz'})" class="auto">
       <span class="pull-right text-muted">
         <i class="fa fa-fw fa-angle-right text"></i>
         <i class="fa fa-fw fa-angle-down text-active"></i>
       </span>
       <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
       <span class="font-bold" translate="aside.nav.DASHBOARD">我的预约</span>
     </a>
   </li>

   <li ui-sref-active="active" ng-if="currentUser.show_role == 'STUDENT'">
     <a ui-sref="app.course.student-class" class="auto">
       <span class="pull-right text-muted">
         <i class="fa fa-fw fa-angle-right text"></i>
         <i class="fa fa-fw fa-angle-down text-active"></i>
       </span>
       <i class="glyphicon glyphicon-th-large icon text-info-dker"></i>
       <span class="font-bold" translate="aside.nav.DASHBOARD">我的课程</span>
     </a>
   </li>

  <!-- teacher items -->
    <li ui-sref-active="active" ng-if="currentUser.show_role == 'TEACHER'">
      <a ui-sref="app.index" data-ui-sref-opts="{reload: true}" class="auto">
        <span class="pull-right text-muted">
          <i class="fa fa-fw fa-angle-right text"></i>
          <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
        <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
        <span class="font-bold" translate="aside.nav.DASHBOARD">我的预约</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-if="currentUser.show_role == 'TEACHER'">
      <a ui-sref="app.course" data-ui-sref-opts="{reload: true}" class="auto">
        <span class="pull-right text-muted">
          <i class="fa fa-fw fa-angle-right text"></i>
          <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
        <i class="glyphicon glyphicon-th-large icon text-info-dker"></i>
        <span class="font-bold" translate="aside.nav.DASHBOARD">我的班级</span>
      </a>
    </li>


  <li ui-sref-active="active" ng-if="currentUser.show_role == 'ADMINISTRATOR'">
    <a ui-sref="app.admin-account" data-ui-sref-opts="{reload: true}" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-user icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">平台用户管理</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="currentUser.show_role == 'ADMINISTRATOR'">
    <a ui-sref="app.admin-resource" data-ui-sref-opts="{reload: true}" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon  glyphicon-retweet icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">实验资源管理</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="currentUser.show_role == 'ADMINISTRATOR'">
    <a ui-sref="app.admin-semester" data-ui-sref-opts="{reload: true}"  class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">学期班级管理</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="currentUser.show_role == 'ADMINISTRATOR'">
    <a ui-sref="app.admin-appointment" data-ui-sref-opts="{reload: true}"  class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-tasks icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">实验预约审批</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="currentUser.show_role == 'ADMINISTRATOR'">
    <a ui-sref="app.admin-setting" data-ui-sref-opts="{reload: true}" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-wrench icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">系统功能配置</span>
    </a>
  </li>
  <li class="line dk"></li>
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">设置</span>
  </li>
  <li ui-sref-active="active">
    <a href class="auto" ui-sref="app.profile" data-ui-sref-opts="{reload: true}">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="icon-settings icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">个人设置</span>
    </a>
  </li>

</ul>
<!-- / list -->
