<div>
<abn-tree ui-scroll-viewport class="col-sm-5 b-a" tree-data="left" icon-leaf="none" on-select="leftTreeSelect(branch)" icon-collapse = "icon-minus-sign" style="font-size:14px; color:#58666e; padding-top:10px; padding-bottom:10px; padding-right:0px; height: 250px; overflow-y: auto; display: block; background-color:white">

</abn-tree>

<div class="col-sm-2" style="padding-top:80px">
  <button class="btn btn-sm btn-default col-sm-12" ng-click="leftMove()">
      <
  </button>
  <div class="line line-dashed line-lg pull-in"></div>
  <button class="btn btn-sm btn-default col-sm-12" ng-click="rightMove()">
      >
  </button>
</div>

<abn-tree ui-scroll-viewport class="col-sm-5 b-a" tree-data="right" icon-leaf="none" on-select="rightTreeSelect(branch)" icon-collapse = "icon-minus-sign" style="font-size:14px; color:#58666e; padding-top:10px; padding-bottom:10px; padding-right:0px; height: 250px; overflow-y: auto; display: block; background-color:white">

</abn-tree>
</div>
