<div class="form-group">
  <div class="col-sm-12">
    <div class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <table st-table="rowCollectionBasic" class="table table-bordered table-striped table_center">
      <thead>
        <tr>
          <th>项目</th>
          <th style="padding:0px;width:40%">
            <table st-table="rowCollectionBasic" class="table " style="margin-bottom:0px">
              <tr>
                <th style="border-top:0px none">低碳钢</th>
              </tr>
              <tr>
                <th style="padding:0px">
                <table st-table="rowCollectionBasic" class="table table-bordered" style="margin-bottom:0px; border:0px none;">
                  <thread>
                    <tr>
                      <th style="border-top:0px none; border-bottom:0px none;border-left:0px none;" class="col-sm-6">计算公式</th>
                      <th style="border-top:0px none; border-bottom:0px none;border-right:0px none;" class="col-sm-6">计算结果</th>
                    </tr>
                  </thread>
                </table>
              </th>
              </tr>
            </table>
          </th>
          <th style="padding:0px;width:40%">
            <table st-table="rowCollectionBasic" class="table " style="margin-bottom:0px">
              <tr>
                <th style="border-top:0px none">铸铁</th>
              </tr>
              <tr>
                <th style="padding:0px">
                <table st-table="rowCollectionBasic" class="table table-bordered" style="margin-bottom:0px; border:0px none;">
                  <thread>
                    <tr>
                      <th style="border-top:0px none; border-bottom:0px none;border-left:0px none;" class="col-sm-4">计算公式</th>
                      <th style="border-top:0px none; border-bottom:0px none;border-right:0px none;" class="col-sm-4">计算结果</th>
                    </tr>
                  </thread>
                </table>
              </th>
              </tr>
            </table>
          </th>
        </tr>
        <tr style="padding-bottom:0px;padding-top:0px">
          <th>屈服强度</th>
          <th class="table_cell">
            <div class="col-sm-6 table_wrap">
              <input placeholder="" class="input-sm form-control ng-isolate-scope" ng-show="editable" type="text" ng-model="table[0]['3-2-1-2diameter'].No1.answer">
              <label ng-show="!editable">{{table[0]['3-2-1-2diameter'].No1|reportFilter}}</label>
            </div>
            <div class="col-sm-6 table_wrap">
              <input placeholder="" class="input-sm form-control ng-isolate-scope" ng-show="editable" type="text" ng-model="table[0]['3-2-1-2diameter'].No2.answer">
              <label ng-show="!editable">{{table[0]['3-2-1-2diameter'].No2|reportFilter}}</label>
            </div>
          </th>
          <th class="table_wrap"  style="padding-left:0px;padding-right:0px">
            <div class="col-sm-6 table_wrap">
              <input placeholder="" class="input-sm form-control ng-isolate-scope" ng-show="editable" type="text" ng-model="table[0]['3-2-1-2diameter'].No1.answer">
              <label ng-show="!editable">{{table[0]['3-2-1-2diameter'].No1|reportFilter}}</label>
            </div>
            <div class="col-sm-6 table_wrap">
              <input placeholder="" class="input-sm form-control ng-isolate-scope" ng-show="editable" type="text" ng-model="table[0]['3-2-1-2diameter'].No2.answer">
              <label ng-show="!editable">{{table[0]['3-2-1-2diameter'].No2|reportFilter}}</label>
            </div>
          </th>
        </tr>
        <tr style="padding-bottom:0px;padding-top:0px">
          <th>抗拉强度</th>
          <th class="table_cell">
            <div class="col-sm-6 table_wrap">
              <input placeholder="" class="input-sm form-control ng-isolate-scope" ng-show="editable" type="text" ng-model="table[0]['3-2-1-2diameter'].No1.answer">
              <label ng-show="!editable">{{table[0]['3-2-1-2diameter'].No1|reportFilter}}</label>
            </div>
            <div class="col-sm-6 table_wrap">
              <input placeholder="" class="input-sm form-control ng-isolate-scope" ng-show="editable" type="text" ng-model="table[0]['3-2-1-2diameter'].No2.answer">
              <label ng-show="!editable">{{table[0]['3-2-1-2diameter'].No2|reportFilter}}</label>
            </div>
          </th>
          <th class="table_wrap"  style="padding-left:0px;padding-right:0px">
            <div class="col-sm-6 table_wrap">
              <input placeholder="" class="input-sm form-control ng-isolate-scope" ng-show="editable" type="text" ng-model="table[0]['3-2-1-2diameter'].No1.answer">
              <label ng-show="!editable">{{table[0]['3-2-1-2diameter'].No1|reportFilter}}</label>
            </div>
            <div class="col-sm-6 table_wrap">
              <input placeholder="" class="input-sm form-control ng-isolate-scope" ng-show="editable" type="text" ng-model="table[0]['3-2-1-2diameter'].No2.answer">
              <label ng-show="!editable">{{table[0]['3-2-1-2diameter'].No2|reportFilter}}</label>
            </div>
          </th>
        </tr>
      </thead>

    </table>
  </div>
  </div>

</div>
