<div class="vbox db-bg">
    <div class = "wrapper  db-p-b-20 db-p-t-20 db-title-wrapper lter no_border" style = "overflow: hidden;">
    	<ol class="breadcrumb db-breadcrumb subview3_title">
    		<li>
    			<a href="#">
    				<span class="db-title">实验任务</span>
    			</a>
    		</li>
    		<li>
    			<a href="#">
    				<span class="db-title">实验情况</span>
    			</a>
    		</li>
    	</ol>
    </div>
    <div class="db-line"></div>
    <div class = "wrapper">
    	<div>
			<span class="db-title db-m-r-25">
			  实验任务列表
			</span>
			<span class="db-title db-exp-info-primary">
				<!-- 100/200 -->
			</span>
			<button class="btn btn-primary db-btn-primary pull-right" ui-sref="app.teacher.class.task">
				返回
			</button>
		</div>
		<div class="db-line db-m-0 db-m-t-10 db-m-b-20"></div>
		<div>
			<ul class="db-tab-table pull-left">
				<li class="active">
					<a role = "tab" data-toggle = "tab" aria-expanded = "true" ng-click="changeStatus('FINISH')">
						已完成
					</a>
				</li>
				<li>
					<a role = "tab" data-toggle = "tab" aria-expanded = "false" ng-click="changeStatus('UNFINISH')">
						未完成
					</a>
				</li>
			</ul>
			<form class = "pull-right">
			    <input type="text" placeholder = "输入学号或姓名" ng-model="query" class="form-control">
			   	<!-- <button class="search-btn">搜索</button> -->
			</form>
		</div>
		<table class="table table-bordered db-task-detail-table">
			<thead>
				<tr>
					<th style = "width: 15%">学号</th>
					<th style = "width: 15%">姓名</th>
					<th style = "width: 25%">实验状态</th>
					<th style = "width: 30%">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in recordList | filter: query">
					<td>{{record.student.account}}</td>
					<td>{{record.student.name}}</td>
					<td>
						<span class="db-text-success">{{record.status.value}}</span>
					</td>
					<td>
						<button ng-if="record.records.length> 0" ng-click="viewRecordDetails(record)" class="btn btn-sm btn-primary db-btn-primary">查看详情</button>
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>

<lab-footer></lab-footer>
