<div class="nm-dialog">
  <div class="nm-dialog-header">
    <h1 class="header-title" style="margin-top: 5px;">
      <span >添加预约</span>
    </h1>
  </div>
	<div class = "nm-dialog-line"></div>
  <stage-view-directive nm-total-stage = "3" nm-init-stage = "1" style = "margin-bottom: 10px;">
    <div class="p-t-md p-b-xs text-left text-link">
      选择预约日期
    </div>
    <div class="p-t-md p-b-xs text-center text-link">
      第二部: 选择实验室
    </div>
    <div class="p-t-md p-b-xs text-right text-link">
      第三步: 选择实验时间段
    </div>
  </stage-view-directive>

  <form class="form-horizontal" name = "ReservationForm1" ng-show = "stage === 1" novalidate>
    <div class="form-group">
      <label for="date" class="col-sm-3 control-label">预约日期<span class="text-danger">*</span>：</label>
      <div class="col-sm-9">
        <nm-datepicker name = "date" ng-change = 
        "dateChanged()" ng-model="date" ui-validate = "'$value > currentDate'"></nm-datepicker>
      </div>
    </div>
    <div class = "ng-hide pull-right error-message db-m-b-10" ng-show = "ReservationForm1.date.$invalid">
      预约日期不能是今天之前的日期
    </div>
    <div class="clearfix"></div>
    <div class = "nm-dialog-line"></div>
    <div class="clearfix">
      <div class="pull-right">
        <button class="btn btn-primary" ng-disabled = "ReservationForm1.$invalid" ng-click="next()">下一步</button>
      </div>
    </div>
  </form>

  <form class="form-horizontal" name = "ReservationForm2" ng-show = "stage === 2" novalidate>
    <div class="form-group" ng-show = "labList.length > 0">
      <label for="lab" class="col-sm-3 control-label">实验室<span class="text-danger">*</span>：</label>
      <div class="col-sm-9">
        <select name = "lab" class="form-control" ng-change = "labChanged()" ng-model="lab" ui-validate = "'validateSelect($value)'" ng-options="item.name for item in labList" aria-invalid="false">
            <option value="">--请选择实验室--</option>
          </select>
      </div>
    </div>
    <div class="alert alert-danger" ng-show = "labList.length === 0">
      您选择的日期不存在可预约的实验室。
    </div>
    <div class = "nm-dialog-line"></div>
    <div class="clearfix m-t">
      <div class="pull-right">
        <button class="btn btn-primary" ng-click="prev()">上一步</button>
        <button class="btn btn-primary" ng-disabled = "ReservationForm2.$invalid || labList.length === 0" ng-click="next()">下一步</button>
      </div>
    </div>
  </form>

  <form class="form-horizontal" name = "ReservationForm3" ng-show = "stage === 3" novalidate>

    <div class="form-group">
      <label for="time" class="col-sm-3 control-label">实验: </label>
      <div class="col-sm-9">
         <span class="form-control">{{experimentName}}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="time" class="col-sm-3 control-label">已选实验室: </label>
      <div class="col-sm-9">
         <span class="form-control">{{lab.name}}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="time" class="col-sm-3 control-label">已选日期: </label>
      <div class="col-sm-9">
         <span class="form-control">{{date | date:'yyyy-MM-dd'}}</span>
      </div>
    </div>

    <div class="form-group" ng-show = "slotList.length > 0">
      <label for="time" class="col-sm-3 control-label">时间段：</label>
      <div class="col-sm-9">
        <select name = "time" ui-validate = "'validateSelect($value)'" class="form-control" ng-model="slot"  ng-options="item.title for item in slotList track by item.id" aria-invalid="false">
            <option value="">--请选择预约时间段--</option>
          </select>
      </div>
    </div>

    <div class = "alert alert-danger" ng-show = "slotList.length === 0">
      该实验室没有可用的时间段，请返回上一步预约其他实验室吧！
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"><span class="text-danger">注意：</span></label>
      <div class="col-sm-9 m-t-xs">
        <label>
          该实验室可容纳最大人数为
          <span class = "text-danger">
            {{lab.capacity}}
          </span>
          人
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="capacity" class="col-sm-3 control-label">预约人数：</label>
      <div class="col-sm-9">
        <input name = "capacity" ui-validate ="'validateRangeNumberInclusive($value, 1, lab.capacity)'" type="text" class="form-control" ng-model="personCount">
      </div>
    </div>
    <div class="form-group">
      <label for="remark" class="col-sm-3 control-label">备注：</label>
      <div class="col-sm-9">
        <textarea name = "remark" class="form-control" ng-model="remark" placeholder="" rows="2" aria-multiline="true" aria-invalid="false"></textarea>
      </div>
    </div>

    <div class = "nm-dialog-line"></div>
    <div class="clearfix m-t">
      <div class="pull-right">
        <button class="btn btn-primary" ng-click="prev()">上一步</button>
        <button class="btn btn-primary" ng-disabled = "ReservationForm3.$invalid || slotList.length === 0" ng-click="reserve()">
          提交预约</button>
      </div>
    </div>
  </form>
</div>
