<div class="nm-dialog">
  <div class="nm-dialog-header">
    <h1 class="header-title" style="margin-top: 5px;">
      <span >新建xxx</span>
    </h1>
  </div>

  <form class="form-validation" name="customerForm" novalidate>
    <table class="table  customer-table">
      <tbody>
      <tr>
        <td style="width: 100px;">
          <span class="block m-t-xs"><span class="text-danger">*</span>姓名:</span>
        </td>
        <td>
          <input type="text" class="form-control w-md noblock" name="customerName" ng-model="customer.name" required>
          <span class="dialog-input-desc text-muted m-t-xs">  <i class="icon-info"></i> 这个是默认提示 </span>
          <span class="text-danger block m-t-xs"><i class="icon-info"></i> 这个是错误提示</span>
          <span class="text-danger block m-t-xs"
                ng-show="customerForm.customerName.$error.required && customerForm.customerName.$dirty">姓名不能为空</span>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>

      <tr>
        <td>
          <span class="block m-t-xs">手机号码:</span>
        </td>
        <td>
          <input type="text" class="form-control w-sm" name="mobile" ng-model="customer.mobile"
                 ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/">
          <span class="text-danger block m-t-xs"
                ng-show="customerForm.mobile.$error.pattern && customerForm.mobile.$dirty">手机号码格式不正确</span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <span class="block m-t-xs">xxx:</span>
        </td>
        <td>
          <input type="text" class="form-control w-sm" name="qq" ng-model="customer.qq">
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>
          <span class="block m-t-xs">xxxx:</span>
        </td>
        <td>
          <input type="text" class="form-control w-md" name="wx" ng-model="customer.wx">
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>
          <span class="block m-t-xs">电子邮箱:</span>
        </td>
        <td>
          <input type="email" class="form-control w-sm" name="email" ng-model="customer.email">
        </td>
        <td></td>
        <td></td>
      </tr>


      <tr>
        <td>
          <span class="block m-t-xs">xxx:</span>
        </td>
        <td>
          <input type="text" class="form-control w-sm" name="idCard" ng-model="customer.idCard"
                 ng-pattern="/^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$/">
          <!--<span class="text-danger block m-t-xs"
                ng-show="customerForm.idCard.$error.required && customerForm.idCard.$dirty">身份证不能为空</span>-->
          <span class="text-danger block m-t-xs"
                ng-show="customerForm.idCard.$error.pattern && customerForm.idCard.$dirty">身份证格式不正确</span>
        </td>
        <td></td>
        <td></td>
      </tr>


      </tbody>
    </table>

    <div class="clearfix m-t">
      <div class="pull-right">
        <button class="btn btn-primary w-sm m-r-sm" ng-disabled="customerForm.$invalid" ng-click="save()">保存</button>
        <button class="btn btn-default w-sm" ng-click="closeThisDialog(null)">取消</button>
      </div>
    </div>
  </form>
</div>
