<div class="nm-dialog">
  <div class="nm-dialog-header">
    <h1 class="header-title" style="margin-top: 5px;">
      <span >添加预约</span>
    </h1>
  </div>

  <form class="form-validation" name="customerForm" novalidate>
    <table class="table  customer-table">
      <tbody>
      <tr>
        <td style="width: 100px;">
          <span class="block m-t-xs"><span class="text-danger">*</span>学期:</span>
        </td>

        <td>
          <input type="text" class="form-control w-lg pull-right ng-binding" readonly name="qq" ng-model="data.semester.name">
        </td>
      </tr>

      <tr>
        <td>
          <span class="block m-t-xs">预约日期:</span>
        </td>
        <td>
            <button type="dropdown-toggle button" class="btn btn-default pull-right" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                <div date-picker="data.applyDate" min-view="date" max-view"year"></div>
            </div>
          <input type="text" class="form-control w-md pull-right" name="qq" ng-model="customer.qq">
        </td>
      </tr>
      <tr>
        <td>
          <span class="block m-t-xs">班级:</span>
        </td>
        <td>
          <select class="form-control ng-pristine ng-valid ng-touched w-lg pull-right" ng-model="data.clazz" ng-options="(item.number + '' + item.teacher.name + ' '+ item.course.name)  for item in clazzs track by item.id" ng-change="clazzChanged()" aria-invalid="false">
            <option value="">--请选择班级--</option>
          </select>
        </td>
      </tr>

      <tr ng-show="data.clazz!=undefined">
        <td>
          <span class="block m-t-xs">实验:</span>
        </td>
        <td>
          <select class="form-control ng-pristine ng-valid ng-touched w-lg pull-right" ng-model="data.exp"  ng-options="item.name for item in exps track by item.id" ng-change="expChanged()" aria-invalid="false">
            <option value="">--请选择实验--</option>
          </select>
        </td>
      </tr>

      <tr ng-show="data.exp != undefined">
        <td>
          <span class="block m-t-xs">实验室:</span>
        </td>
        <td>
          <select class="form-control ng-pristine ng-valid ng-touched w-lg pull-right" ng-model="data.lab"  ng-options="item.name for item in labs track by item.id" aria-invalid="false">
            <option value="">--请选择实验室--</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <span class="block m-t-xs">时间:</span>
        </td>
        <td>
          <select class="form-control ng-pristine ng-valid ng-touched w-lg pull-right" ng-model="data.slot"  ng-options="item.title for item in slots track by item.id" aria-invalid="false">
            <option value="">--请选择预约时间--</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <span class="block m-t-xs">预约人数:</span>
        </td>
        <td>
          <input type="text" class="form-control w-lg pull-right" name="qq" ng-model="customer.qq">
        </td>
      </tr>


      <tr>
        <td>
          <span class="block m-t-xs">备注:</span>
        </td>
        <td>
          <textarea class="form-control ng-pristine ng-valid ng-touched w-lg pull-right" placeholder="" rows="2" aria-multiline="true" aria-invalid="false"></textarea>
        </td>
      </tr>


      </tbody>
    </table>

    <div class="clearfix m-t">
      <div class="pull-right">
        <button class="btn btn-primary w-sm m-r-sm" ng-disabled="customerForm.$invalid" ng-click="save()">保存</button>
        <button class="btn btn-default w-sm" ng-click="cancel()">取消</button>
      </div>
    </div>
  </form>
</div>
